{% extends 'core/base.html' %}
{% block contenido %}

<br><br><br><br><br><br>
<div class="container">
    <h1 class="mt-5">Lista de Usuarios</h1>
    <br><br><br><br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Grupos</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for grupo in usuario.groups.all %}
                        {{ grupo.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
